.minigame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.play {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  flex: initial;
}

.game-grid {
  flex: none;
  display: flex;
  flex-direction: column;
}

.line {
  flex: none;
  display: flex;
  flex-direction: row;
}

.column {
  flex: none;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}

.free {
  background-color: gray;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.selected {
  border: 1px solid red;
}

.players {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players > div {
  flex: initial;
}

.player-prefix {
  display: inline-block;
  width: 0;
  height: 0;
  box-sizing: content-box;
  border-top: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  border-left: 0.86rem solid transparent;
}

.current {
  border-left-color: black;
}

.result {
  width: 100%;
  text-align: center;
}
