.minigame {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.play {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  flex: initial;
}

.game-grid {
  flex: none;
  display: flex;
  flex-direction: column;
}

.line {
  flex: none;
  display: flex;
  flex-direction: row;
}

.column {
  flex: none;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}

.free {
  background-color: gray;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.selected {
  border: 1px solid red;
}

.players {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players > div {
  flex: initial;
}

.other .player-prefix {
  opacity: 0;
}

.current .player-prefix {
  opacity: 1;
}

.current {
  filter: brightness(150%);
}

.result {
  width: 100%;
  text-align: center;
}

.winner-name {
  font-weight: normal;
}
